@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Alloy.Models.Media

@model Alloy.Models.Blocks.MDocumentListBlock
<div class="container">
    @Html.PropertyFor(x => x.Image)
    <h3 @Html.EditAttributes(x => x.ButtonText)>@Model.ButtonText</h3>
    @Html.PropertyFor(x => x.ContactPageLink)
    @Html.PropertyFor(x => x.MainBody)
</div>
