@using Alloy.Models.Media;
@model Alloy.Models.ViewModels.MDocumentSearchPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml";
}

@using (Html.BeginForm(FormMethod.Post))
{
    <input type="text" tabindex="1" name="q" value="@Model.SearchQuery" />
    <input type="submit" tabindex="2" class="btn" value="Search" />
}
@if (Model.Results != null)
{
    <p>Your search for <i> @Model.SearchQuery resulted </i></p>
    <div class="listResult">
        <ul>
            @foreach (MDocumentFileBase item in Model.Results)
            {
                <li>
                    <h4><a href="@item.ContentLink">@item.Name</a></h4>
                    @item.MimeType
                </li>
            }
        </ul>
    </div>
}